<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-9 mx-md-auto">
      <div class="card p-4">
        <p>
          <strong>First Name:</strong>
          <%= @seller.first_name %>
        </p>

        <p>
          <strong>Last Name:</strong>
          <%= @seller.last_name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @seller.email %>
        </p>

        <p>
          <strong>Contact Number:</strong>
          <%= @seller.contact_number %>
        </p>

        <div>
          <%= link_to 'Edit', edit_admin_seller_path(@seller) %> |
          <%= link_to 'Back', admin_sellers_path %>
        </div>
      </div>
    </div>
  </div>
</div>


