<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <% BookCategory.all.each do |category| %>
          <%= link_to category.name, category, class: "list-group-item list-group-item-action" %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <% if !@books.empty? %>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Well done!</h4>
          <p><%= @books.count %> of <%= Book.count %> Books found for your request. </p>
          <hr>
        </div>
        <div class="row">
          <% @books.each do |book|  %>
            <div class="col-md-4 mb-3">
              <%= link_to book do %>
                <div class="card">
                  <%= image_tag book.front_cover_image, class: "card-img-top", style: "height:200px;" %>
                  <div class="card-body">
                    <h6 class="font-weight-bold"><%= book.name%></h6>
                    <h6 class="font-weight-bold">Rs. <%= book.price %></h6>
                  </div>
                </div>
              <% end %>
            </div>
          <%end%>
        </div>
      <% else %>
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Sorry!</h4>
          <p><%= @books.count %> of <%= Book.count %> Books found for your request. </p>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
</div>