<!DOCTYPE html>
<html>
  <head>
    <title>EasyBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'layout_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'layout_admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/admin_header" %>
    <div class="container">
      <div class="row">
        <%= render "partials/admin_sidebar" %>
        <div class="col-md-9 col-lg-9 col-xl-9">
          <%= yield %>
        </div>
      </div>
    </div>
    <br>
    <%= render "partials/admin_footer"%>
  </body>
</html>
